@model IEnumerable<eSalex.Models.OrderViewModel>

@{
    ViewBag.Title = "InsertOrder";
}

<h2>新增訂單</h2>


<form action="Order/InsertOrder" enctype="multipart/form-data" method="post">

    @Html.AntiForgeryToken()
            
    <table class="table-hover">
        <tr>
            <td>
                客戶名稱 
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                負責員工名稱 &nbsp
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                訂單日期
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
            <td>
                &nbsp需要日期&nbsp
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                出貨日期
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                出貨公司名稱
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                運費
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                出貨國家
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
            <td>
                &nbsp出貨城市
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                出貨地區
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
            <td>
                &nbsp郵遞區號
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                出貨地址
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
            <td>
                &nbsp出貨說明
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                訂單金額總計
            </td>
            <td>
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderId, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="存檔" class="btn btn-default" />
            </td>
            <td>
                @Html.ActionLink("返回上一頁", "Index")
            </td>
        </tr>

    </table>

       
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
