@model IEnumerable<eSalex.Models.OrderViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CustId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CustName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().EmpId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().EmpName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Orderdate)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.CustId
                    </td>
                    <td>
                        @item.CustName
                    </td>
                    <td>
                        @item.EmpId
                    </td>
                    <td>
                        @item.EmpName
                    </td>
                    <td>
                        @item.Orderdate
                    </td>


                </tr>
            }

        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
     $(function () {
         $('.pagination>li>a[href]').each(function (i, item) {
             var page = $(item).attr('href').replace('/Index?page=', '');
             $(item).attr('href', '#').click(function () { postPage(page); });

         });
     });

     function postPage(page) {
         var targetFormId = '#ProductList';
         if ($(targetFormId).size() > 0) {
             $('<input>')
                 .attr({ type: 'hidden', id: 'PageIndex', name: 'PageIndex', value: page })
                 .appendTo($(targetFormId));
             $(targetFormId).submit();
         }
     };
    </script>

}